*{
    box-sizing: border-box;
    margin: 7px;
    padding:0;
}
.container{
    margin-top: 2rem;
    margin: auto;
    width:70%;
    height: 40%;
    border: 2px solid rgb(82, 80, 76);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-sizing: border-box;
    border-radius: 15px;
}
.f-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}
form{
    padding:1rem;
}
input{
    height: 2.4rem;
    width: 15rem;
    border-radius: 4px;
   
}
select{
    height: 2.4rem;
    width: 15rem;
    border-radius: 4px;
 
}
label{
    display: flex;
    margin-top: 1rem;
    justify-content:space-between;
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}
.infoDetail{
    display: flex;
}
button{
    border-radius: 4px;
    border:1px solid red;
    color:red;
    font-size: 16px;
    margin-right:10px;
    padding:11px 26px 11px 26px;
    /* background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%); 
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42); */
  }
  .btn-1{
    background: green;
    color:white;
  }
  button:hover{
    background: white;
    cursor: pointer;
    color:black;
  
  }
  .text-danger{
    color:red;
  }
  .Govt{
    display: flex;
  }
  .c-Field{
    display: flex;
    gap:0px;
  }
  .c-Field label{
    margin-right: 0px;
  }
  .c-Field input{
    width:20px;
  }